---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials




  body .post-content {
  max-width: 700px !important;
  margin: 50px auto !important;
  padding: 20px !important;
  text-align: center !important;
  line-height: 1.6 !important;
}

}
