---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//.post-content {
  body { border: 15px solid pink; }

  //max-width: 700px !important;   /* width of text area */
  //margin: 0 auto !important;      /* centers the block */
  //padding: 20px !important;       /* space around text */
  //line-height: 1.6 !important;    /* makes it easier to read */
  //font-family: Arial, sans-serif !important; /* optional font */
//}
